*{
    margin: 0;
    padding: 0;
    border: border-box;
}

button{
    cursor: pointer;
}



.container{
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 50px;
    position: relative;
    box-shadow: 0 6px 4px 2px rgba(0,0,0,0.2);
}



.dark{
    color: white;
    background-color: rgb(82, 80, 80);
}

.firstInnerCont{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: space-between;
    gap: 50px;
}

.firstInnerCont .img {
    /* width: 350px; */
    width: clamp(200px, 350px , 440px);
     
}

.firstInnerCont img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.firstInnerCont div{
    width: 400px;
}

.firstInnerCont h1{
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    margin-top: -10px;
    margin-bottom: 30px;
}


.bio p{
    margin-bottom: 25px;
}

.bio i{
    font-size: 30px;
}

.skills{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.skills > *{
    padding: 5px 11px;
    background-color: grey;
    border-radius: 15px;
    color: white;
}

.skillH{
    margin-bottom: 20px;
}


.secondInnerCont{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: space-between;
    gap: 50px;
}

.secondInnerCont .col1, .col2{
    width: 400px;
}

h1{
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.col1 h3{
    margin-bottom: 10px;
}

.col1 p{
    margin-top: 10px;
    margin-bottom: 30px;
}

.activities{
    margin-top: 20px;
}

.activities span{
    font-weight: bold;
}

hr{
    margin-block: 60px;
}


.socials {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}

.socials div{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: black;
}

#toggleBtn{
    /* position: absolute;
    top: 10px;
    right: 100px; */
    font-size: 30px;
    background-color: rgb(82, 80, 80);
}

.btnWrap{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
}



#clear{
    padding: 8px 17px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #6439FF;
    color: white;
    cursor: pointer;
}

@media (max-width: 950px) {
    .firstInnerCont h1{
        font-size: 55px;
    }
    .firstInnerCont{
        justify-content: start;
        width: 70%;
        margin-inline: auto;
   
    }

    .skills{
        width: 70%;
        margin-inline:auto;
    }

    .skillH{
        width: 70%;
        margin-inline: auto;
    }

    
    .secondInnerCont{
        display: flex;
       justify-content: center;
    }

    .secondInnerCont .col1, .col2{
        width: 70%;
    }

    .eduWraper{
        display: flex;
        flex-direction: column;
    }
    .techWraper{
        display: flex;
        flex-direction: column;
    }

    .projWraper{
        display: flex;
        flex-direction: column;
    }
    .proj{
        max-width: 400px;
    }
}

@media (max-width : 600px) {
    .firstInnerCont h1{
        font-size: 50px;
    }

    .firstInnerCont{
        justify-content: start;
        width: 100%;
        margin-inline: auto;
   
    }

    .skillH{
        width: 100%;
        margin-inline: auto;
    }

    .secondInnerCont .col1, .col2{
        width: 100%;
    }
}


.edit{
    cursor: pointer;
    background-color: #6439FF;
}

.hide{
    display: none;
}

#edittoggle{
    padding: 8px 17px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #6439FF;
    color: white;
    cursor: pointer;
}

#downloadBtn {
    padding: 8px 17px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #6439FF;
    color: white;
    cursor: pointer;
}

#shareBtn{
    padding: 8px 17px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #6439FF;
    color: white;
    cursor: pointer;
}

/* form */

.formContainer{
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 50px;
    position: relative;
    box-shadow: 0 6px 4px 2px rgba(0,0,0,0.2);
    margin-bottom: 100px;
    background-color: #4F75FF;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifz;
    color: white;
}

.heading{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifz;
}

.TemplateHeading{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifz;
}

legend {
    width: 70px;
    padding: 10px;
    margin-left: calc(50% - 35px - 8px);
}

fieldset{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    border: 1px solid white;
}

input{
    border: none;
    width: 100%;
    margin-left: 10px;
    font-weight: bold;
  }
  
  input:focus{
    outline: none;
    
  }

  textarea:focus{
    outline: none;
    
  }
  label{
    min-width: fit-content;
  }
  
  .inp{
    width: 250px;
    box-shadow: 0px 6px 4px rgba(0,0,0,0.3);
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #fff;
    color: black;
  }

  .fieldWrap{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
    
  }

  .btn{
    padding: 6px 11px;
    background-color: #6439FF;
    border: none;
    color: white;


  }

  #addButton{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

#addButton button{
    padding: 8px 30px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 15px;
    border: none;
    background-color: #6439FF;
    color: white;
}

  /* .fieldWrapper ::after{
    content: "";
    display: block;
    border-bottom: 1px solid grey;
    width: 100%;
    margin-top: 8px;
  } */